<div class="container mx-auto">
    <!-- <p>debugging: {{instructors}}</p> -->
    <form [formGroup]="newForm">
      <!-- course details - number, name, term -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="courseDetail"> Course </label>
        </div>
        <select class="custom-select" id="courseDetail"
          formControlName="courseDetail">
          <option *ngFor='let c of courseDetails' [value]=c.course_no>
            {{c.course_no}} {{c.course_name}}
          </option>
        </select>
      </div>

      <!-- core or elective? -->
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="core" 
             formControlName="core"
             value="1">
            <label class="form-check-label" for="core"> Core </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="elective"
          formControlName="core"  
          value="0">
          <label class="form-check-label" for="elective"> Elective </label>
        </div>  
      </div>
      
      <div class="dropdown-divider"></div>
      
      <!-- number of cohorts to enrol -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="no_classes"> Number of Cohort Classes enrolled to course </label>
        </div>
        <select class="custom-select" id="no_classes"
          formControlName="no_classes">
          <option *ngFor='let i of no_classesRange' [value]='i'>{{i}}</option>
        </select>
      </div>

      <!-- class size  -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="class_size"> Size of each Cohort Class </label>
        </div>
        <select class="custom-select" id="class_size"
          formControlName="class_size">
          <option *ngFor='let i of class_sizeRange' [value]='i'>{{i}}</option>
        </select>
      </div>

      <div class="dropdown-divider"></div>

      <!-- instructor details -->
      <div class="form-group no-ugly-red-line" formArrayName="prof_list">
        <h6>Details of Teaching Professors</h6>
        <div *ngFor="let prof of newForm.controls.prof_list.controls; let a=index" formGroupName="{{a}}"
        class="no-ugly-red-line">
          <h5>Professor {{a+1}}
            <span style="float: right;"><button mat-icon-button (click)="deleteProf(a)">
              <i class="fas fa-trash-alt"></i>
            </button></span>
          </h5>
          <div class="form-group">
            <select id="chooseProf" class="custom-select" formControlName="id">
              <option *ngFor='let prof of instructors' [value]=prof.id>
                {{prof.pillar}} - {{prof.name}}
              </option>
            </select>
          </div>
        </div>

        <button type="button" class="btn btn-primary" 
          (click)="addProfToCourse()">
          Add an Instructor
        </button>
      </div>

      <div class="dropdown-divider"></div>

      <!-- sessions -->
      <div class="form-group no-ugly-red-line" formArrayName="sessions">
        <h6>Details of all Sessions necessary</h6>
        <div *ngFor="let sesh of newForm.controls.sessions.controls; let b=index"
        formGroupName="{{b}}" class="no-ugly-red-line">
          <!-- repeated segment -->
          <h5>Session {{b+1}} 
            <span style="float: right;"><button mat-icon-button (click)="deleteSession(b)">
              <i class="fas fa-trash-alt"></i>
            </button></span>
          </h5>
          <!-- type of lesson -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="class_type"> Type of Class </label>
            </div>
            <select class="custom-select" id="class_type"
              formControlName="class_types" #class>
              <option *ngFor='let i of class_type' [value]='i' >{{i}}</option>
            </select>
          </div>
          <!-- type of preferred venue -->
          <div class="input-group mb-3" [hidden]="class.value!='Cohort Based Learning' ">
            <div class="input-group-prepend">
              <label class="input-group-text"> Preferred Venue </label>
            </div>
            <select class="custom-select" 
              formControlName="venue_types">
              <option *ngFor='let i of venue_type' [value]='i' selected="true">{{i}}</option>
            </select>
          </div>
          <!-- duration of each lesson in hours -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="duration"> Duration </label>
            </div>
            <select class="custom-select" id="duration"
              formControlName="sessions_hrs">
              <option *ngFor='let i of durations' [value]='i'>{{i}}</option>
            </select>
          </div>

          <!-- profs involved -->  
          <div *ngIf="prof_list.dirty">
            <p>Professors involved</p>
            <div class="form-inline no-ugly-red-line" formArrayName="profs_involved">
              <div *ngFor='let p of prof_list.controls'>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="checkbox"
                  (change)="updateProfsInvolved($event, b, p.controls['id'].value)">
                  <span class="form-check-label">
                    {{queryInstructors(p.controls['id'].value)}}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- end of repeated segment -->
          
        </div>                       
        <!-- add new session -->
        <br><button type="button" class="btn btn-primary" 
          (click)="addSessionToCourse()">
          Add a Session
        </button>
        
      </div>

      <div class="dropdown-divider"></div>

      <!-- button managers -->
      <div style="float: right;">
        <button id="addCourseSubmitButton" type="submit" class="btn btn-success" 
        [disabled]="newForm.invalid"
        (click)="onSend(); newForm.reset()">Submit Course</button>
        <button class="btn btn-warning" id="resetCourseButton"
        (click)="newForm.reset()">Reset</button>
        <!-- <button class="btn btn-dark" 
        (click)="temp()">testing parser</button> -->
      </div>
    </form>
    <!-- <p>Form values: {{newForm.value | json : 2 }} </p>
    <p>Form status: {{newForm.status | json}} </p> -->

</div>
