<div class="container mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">Appeals</h5>
  </div>
  <div *ngFor = "let appeal of appeals">
    <div class="card" style="margin: 0 5% 5% 5%;">
      <h5 class="card-header">
        Appeal for {{appeal.title}}
        <button (click)="deleteAppeal(appeal.id)" 
          title="Delete this appeal" 
          class="btn btn-light" 
          style="float: right;"><i class="fas fa-trash-alt"></i></button>
      </h5>
      
      <div id="{{appeal.id}}" class="card-body">
        <p class="card-text">
          <small class="text-muted">by {{appeal.instructor}}, {{appeal.pillar}} <span style="float: right" *ngIf = "showhiden"><i> {{appeal.date}} </i></span> </small>          
        </p>
        <p class="card-text">
          {{appeal.content}}
        </p>
      </div>
    </div>
  </div>
</div>

