<div class="container">
  <div class="card-body">
    <h5 class="card-title text-center">Notifications</h5>
  </div>
  <div *ngFor="let notification of notifications">
    <div class="card" style="margin: 0 5% 5% 5%;">
      <h5 class="card-header">{{notification.title}}</h5>
      <div class="card-body">
        <p class="card-text"><small class="text-muted">on {{notification.date}} by {{senderName}}</small></p>
        <p class="card-text">{{notification.content}}</p>    
      </div>
    </div>
  </div>
</div>

