<div class="form-container">
<h1 style="text-align: center;"> Login to Se7enScheduler</h1>
  <form  #LoginForm="ngForm">
    <div class="form-group">
      <label for="email"> Email </label>  
      <input type="email" class="form-control" id="email" required minlength="5"
      [(ngModel)]="model.email" name="email"> 
    </div>

    <div class="form-group">
      <label for="password"> Password </label>
      <input type="password" class="form-control" id="password" required minlength="5"
      [(ngModel)]="model.password" name="password">
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block"
    [disabled]="!LoginForm.form.valid"
    (click)="login()"> Login </button>

  </form>
</div>