<div class="form-container">
<h1> Login </h1>
<form (ngSubmit)="onSubmit()" #LoginForm="ngForm">
	<div class="form-group">
		<label for="employee_id"> ID* </label>	
		<input type="text" class="form-control" id="employee_id" required minlength="5"
		maxlength="5"
		[(ngModel)]="user.employee_id" name="employee_id">
	</div>

	<div class="form-group">
		<label for="password"> Password </label>
		<input type="text" class="form-control" id="password" required minlength="5"
		[(ngModel)]="user.password" name="password">
	</div>

	<button type="Login" class="btn btn-primary btn-lg btn-block" 
	style="margin: 0 auto;"
	[disabled] = "!LoginForm.form.valid"
	(click)="login()"> Submit </button>
</form>
</div>