<div id="main">
<div class="form-container">
<img src="./../assets/logo.png" class="logo">
  <form  #LoginForm="ngForm">
    <div class="form-group">
      <input type="email" class="form-control no-ugly-red-line" id="email" required minlength="5"
      [(ngModel)]="model.email" name="email" placeholder="Email"> 
    </div>

    <div class="form-group">
      <input type="password" class="form-control no-ugly-red-line" id="password" required minlength="5"
      [(ngModel)]="model.password" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block"
    [disabled]="!LoginForm.form.valid"
    (click)="login()"> Login </button>

  </form>
</div>
</div>