<div class="container mx-auto">
    <h6 class="card-subtitle mb-2 text-muted">Search for suitable timeslots</h6>
    <!-- <p>Testing: {{diagnostic}}</p> -->
    <form #searchingForm="ngForm">
      <!-- day of week -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="day"> Day of week</label>
          </div>
          <select class="custom-select" id="day"
          [(ngModel)]="searchForm.day" name="day" >
            <option *ngFor="let day of days" 
            [value]="day">{{day}}</option>
          </select>
        </div>
      </div>

      <!-- dates -->
      <div class="row">
        <div class="col">
          <!-- start date -->
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="startDate"> Start Date</label>
              </div>
              <input type="date" id="startDate"  class="form-control" #startDate min="today"
               [(ngModel)]="searchForm.startDate" name="startDate" />
               <span class="validity"></span>
            </div>
          </div>
        </div>
        <div class="col">
          <!-- end date -->
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="endDate"> End Date</label>
                </div>
                <input type="date" id="endDate"  class="form-control" #endDate min="today" 
                 [(ngModel)]="searchForm.endDate" name="endDate" />
                 <span class="validity"></span>
              </div>
            </div>
        </div>
      </div>

      <!-- times -->
      <div class="row">
        <div class="col">
          <!-- start time -->
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="startTime"> Start Time</label>
              </div>
              <input type="time" id="startTime" class="form-control"
              min="8:30" max="20:00" step="1800" placeholder="8:00"
               [(ngModel)]="searchForm.startTime" name="startTime" />
               <span class="validity"></span>
            </div>
          </div>
        </div>
        <div class="col">
          <!-- end time -->
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="endTime"> End Time</label>
              </div>
              <input type="time" id="endTime" class="form-control"
              min="8:30" max="20:00" step="1800" placeholder="8:00"
               [(ngModel)]="searchForm.endTime" name="endTime" />
               <span class="validity"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- event capacity -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="capacity"> Estimated room capacity</label>
          </div>
          <input type="number" id="capacity"
          placeholder="30" class="form-control"
           [(ngModel)]="searchForm.capacity" name="capacity" />
        </div>
      </div>
      
      <div>
        <button type="submit" class="btn btn-primary" id="searchTimeButton" #searchBtn
        (click)="searchForTimeSlot()"><i class="fas fa-search"></i> Get timeslots</button>
        <button class="btn btn-warning" id="resetSearchButton"
        (click)="searchingForm.reset()"><i class="fas fa-redo"></i> Clear search</button>
      </div>
    </form>
</div>

    <div class="dropdown-divider"></div>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Event details</h6>

    <div *ngIf="timeslots.length ==0" class="p-3 mb-2 bg-info text-white">
      Sorry, there are no slots available. 
    </div>

  <div>
    <!-- list of instructors -->
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="slotChosen"> Time Slot</label>
        </div>
        <select class="custom-select" id="slotChosen" required
          [(ngModel)]="slotChosen" name="slotChosen">
          <option *ngFor="let slot of timeslots; let i=index" [value]=i>
            {{slot.startDate}} - {{slot.startTime}} to {{slot.endTime}}
          </option>
        </select>  
      </div>
    </div>
  </div>

  <div>
    <form #addingForm="ngForm">
      <!-- name of event -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="eventName"> Event Name</label>
          </div>
          <input type="text" id="eventName" required
          placeholder="Blockchain Seminar 2018" class="form-control"
           [(ngModel)]="newEvent.eventName" name="eventName" />
        </div>
      </div>  

      <!-- list of instructors -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="instructorId"> Professor in charge</label>
          </div>
          <select class="custom-select" id="instructorId" required 
          [(ngModel)]="newEvent.instructorId" name="instructorId">
            <option *ngFor='let prof of instructors' [value]=prof.id>
              {{prof.pillar}} - {{prof.name}}
            </option>
          </select>  
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-success" style="float: right;" 
        [disabled]="addingForm.form.invalid"
        (click)="addEvent(); addingForm.reset()"><i class="fas fa-plus-circle"></i> Submit Event</button>
      </div>
    </form>
</div>
<br><br>