<div class="container mx-auto">
  <button class="btn btn-light" (click)="return()"><i class="fas fa-long-arrow-alt-left" ></i></button>
	<div align="center">
		<label class="radio-inline"><span *ngIf = "isAdmin">
			<input type="radio" name="optradio" checked="checked" 
			(click)="displayEPD()">EPD</span></label>
		<label class="radio-inline"><span *ngIf = "isAdmin">
			<input type="radio" name="optradio"
			(click)="displayESD()">ESD</span></label>
		<label class="radio-inline"><span *ngIf = "isAdmin">
			<input type="radio" name="optradio"
			(click)="displayISTD()">ISTD</span></label>
      <label class="radio-inline"><span *ngIf = "isAdmin">
      <input type="radio" name="optradio"
      (click)="displayHASS()">HASS</span></label>
      <label class="radio-inline"><span *ngIf = "isAdmin">
      <input type="radio" name="optradio"
      (click)="displayTech()">Tech Elective</span></label>

	</div>
	<div *ngIf="calendarOptions">
		<ng-fullcalendar *ngIf = "haveSchedule; else noSchedule" #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)"></ng-fullcalendar>

    <ng-template #noSchedule>
      <br><br>
      <p align="center"><b><font size="4"> 
      You have no allocated schedule for this term. ☹<br>
      </font></b></p>
    </ng-template>
	</div>
	<br>

	<div align="center">
	<span *ngIf = "!isAdmin && haveSchedule">
    <button type="button" (click) = "showForm()" id="appealButton"
    *ngIf="!generated && !isFinalised"
    class="btn btn-primary">
    Make an appeal</button>
    <button type="button" (click) = "downloadCalendar()" id="downloadButton"
    *ngIf="generated && isFinalised"
    class="btn btn-primary">
    Download Calendar</button></span>
  <button *ngIf = "isAdmin && !isFinalised" type="button" (click) = "finaliseCalendar()" id="finaliseButton" class="btn btn-danger">Finalise Calendar</button>

    <span *ngIf = "show">
    <form #AppealForm="ngForm">
    	<br>
      <!-- title of announcement -->
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="title"> Title </label>
          </div>
          <select class="custom-select" id="title"
        [(ngModel)]="newAppeal.title" name="title">
          <option *ngFor="let course of listCourses">{{course}}</option>
        </select>
        </div>
      </div>  
      <!-- content -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="appealContent">Content</label>
          </div>
          <textarea rows="3" id="appealContent"
          required class="form-control"
          placeholder="State the reason and your preferred timings for the appeal." 
          [(ngModel)]="newAppeal.content" name="appealContent"></textarea>
        </div>  
      </div>
      
      <!-- send to -->

      <button type="submit" class="btn btn-success" style="float: right;" 
      [disabled]="AppealForm.form.invalid" id="makeAppealButton"
      (click)="makeAppeal()">
        <i class="fas fa-bullhorn"></i> Make Appeal
      </button>
    </form>
</span>


</div>
    