<div *ngIf="!loggedin else loggedin" ><app-login></app-login></div>

<ng-template #loggedin id="login-bg">
  <!-- navbar -->
  <app-navbar *ngIf="!(location === '/login' || location === '/')" class="navbar"></app-navbar>
  
  <!-- sidebar + body -->
  <mat-sidenav-container class="mat-sidenav-container" autosize id="login-bg" class="main">
    <!-- sidenav -->
    <mat-sidenav 
    mode="side" opened="true" 
    *ngIf="!(location === '/login' || location === '/')"
    class="sidebar" >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <!-- body -->
    <mat-sidenav-content class="main">
      <router-outlet></router-outlet>  
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
