<div class="container mx-auto">
  <button class="btn btn-light" routerLink="/schedules"><i class="fas fa-long-arrow-alt-left" ></i></button>
  
    <h5 class="card-title text-center" id="schedulesTitle"><i class="fas fa-caret-right"></i>Make an Announcement</h5>
    <!-- <p>Testing: {{diagnostic}}</p> -->
    <form #announcementForm="ngForm">
      <!-- title of announcement -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="title">Title</label>
          </div>
          <input type="text" id="title" 
          required class="form-control"
          placeholder="New Calendar for 2018: Enrol your courses now" 
           [(ngModel)]="newAnnouncement.title" name="title" />
        </div>
      </div>  
      <!-- content -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="announcementContent">Announcement</label>
          </div>
          <textarea rows="4" id="announcementContent"
          required class="form-control"
          placeholder="Content of announcement here" 
          [(ngModel)]="newAnnouncement.content" name="announcementContent"></textarea>
        </div>  
      </div>
      
      <!-- send to -->

      <button type="submit" class="btn btn-success" style="float: right;" 
      [disabled]="announcementForm.form.invalid" id="announcementButton"
      (click)="makeAnnouncement()">
        <i class="fas fa-bullhorn"></i> Make Announcement
      </button>
      
    </form>
    <!-- <p>Testing: {{diagnostic}}</p> -->
  
</div>