<div class="container mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center" id="createUserFormTitle">Create a new Administrator/Instructor</h5>
  </div>
  <form #newUserForm="ngForm">
    <!-- <p>Testing: {{diagnostic}}</p> -->
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="pillar"> Admin/Pillar </label>
        </div>
        <select class="custom-select" id="pillar"
        [(ngModel)]="modelNewUser.pillar" name="pillar" >
          <option *ngFor="let pillar of ['Administrator','ISTD','ESD','EPD','ASD','HASS']" [value]="pillar">{{pillar}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="name"> Name * </label>
        <input type="text" class="form-control" id="name" 
        required 
        [(ngModel)]="modelNewUser.name" name="name"
        #spy>
    </div>

    <div class="form-group">
      <label for="email"> Email * </label>
        <input type="email" class="form-control" id="email" 
        required
        [(ngModel)]="modelNewUser.email" name="email">
    </div>

    <div class="form-group">
      <label for="phone"> Phone Number * </label>
        <input type="tel" class="form-control" id="phone" 
        required minlength="8" 
        [(ngModel)]="modelNewUser.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="password"> Password * </label>
        <input type="password" class="form-control" id="password" 
        required minlength="5" 
        [(ngModel)]="modelNewUser.password" name="password">
    </div>

    <button type="submit" class="btn btn-success" id="submitFormButton" style="float: right;" 
    [disabled]="newUserForm.form.invalid" 
    (click)="createUser(modelNewUser.name); newUserForm.reset()">Submit</button>
  </form>
</div>