<div class="container mx-auto">
  <div class="card-body" (click)="showSchedules()">
    <h5 class="card-title text-center" id="schedulesTitle"><i class="fas fa-caret-right"></i> All Schedules</h5>
  </div>
  
  <div *ngIf="showScheduleList">
    <table class="table table-hover">
      <tbody *ngFor="let schedule of schedules">
        <tr>
          <td [routerLink]="['./',schedule.id]"
          title="View courses enrolled and add a course or event to this schedule"
          >Year {{schedule.year}} Trimester {{schedule.trimester}} 
          <button (click)="deleteSchedule(schedule)" 
          title="Delete this schedule" 
          class="btn" 
          style="float: right; margin: 0 5px;"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="dropdown-divider"></div>

  <!-- form to add a new schedule -->
  <div class="card-body" (click)="showScheduleForm()">
    <h5 class="card-title text-center" id="scheduleFormTitle"><i class="fas fa-caret-right"></i> Add a new Schedule</h5>
  </div>
  <div *ngIf="showAddScheduleForm">
    
      <form #newScheduleForm="ngForm">
        <!-- trimester type -->
        <div class="form-group">
          <label for="trimester"> Academic Term * </label>
          <select class="form-control" id="trimester"
          required
           [(ngModel)]="schedule.trimester" name="trimester">
            <option value="1">Trimester 1 (Terms 3, 5, 7 and 9)</option>
            <option value="2">Trimester 2 (Terms 1, 8 and 10)</option>
            <option value="3">Trimester 3 (Terms 2, 4 and 6)</option>
          </select>
        </div>

        <!-- year -->
        <div class="form-group">
          <label for="year"> Year </label>
          <select class="form-control" id="year"
          required
           [(ngModel)]="schedule.year" name="year">
           <option *ngFor="let i of [2018, 2019, 2020, 2021, 2022, 2023]"
            value={{i}}>{{i}}</option>
          </select>
        </div>        

        <div style="float: right;">
          <button type="submit" class="btn btn-success" 
          [disabled]="!newScheduleForm.form.valid" id="addScheduleSubmitButton"
          (click)="onSend()">Create schedule</button>
          <button class="btn btn-warning" id="addSchedResetButton"
          (click)="newScheduleForm.reset()">Reset</button>
        </div>
      </form>
    
  </div>

</div>
