<div class="container mx-auto">
  <div class="card-body" (click)="showSchedules()">
    <h5 class="card-title text-center" id="schedulesTitle"><i class="fas fa-caret-right"></i> All Schedules</h5>
  </div>
  
  <div *ngIf="showScheduleList">
    <table class="table table-hover">
      <tbody *ngFor="let schedule of schedules">
        <tr *ngIf="schedule.generated !== 1 || isAdmin">
          <td [routerLink]="['./',schedule.id]"
          title="View courses enrolled and add a course or event to this schedule"
          >Year {{schedule.year}} Trimester {{schedule.trimester}} 
          <span *ngIf="schedule.generated == '0'"> ({{schedule.startDate | date:'shortDate'}} to {{schedule.endDate | date:'shortDate'}})</span>
          <span *ngIf="schedule.finalized == '1' && schedule.generated == '1'" class="badge badge-warning"> Finalized</span>
          <span *ngIf="schedule.finalized == '0' && schedule.generated == '1' " class="badge badge-success"> Generated</span>
          <span>
            <button (click)="deleteSchedule(schedule)" *ngIf="isAdmin"
            title="Delete this schedule" 
            style="float: right; margin: 0 5px;"
            class="btn btn-light" ><i class="fas fa-trash-alt"></i></button> 
            <button *ngIf="schedule.generated == '1'" (click)="viewCalendar(schedule.id)"
            title="View this calendar" style="float: right; margin: 0 5px;"
            class="btn btn-light"><i class="fas fa-eye"></i></button>
          </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="dropdown-divider"></div>

  <!-- form to add a new schedule -->
  <div *ngIf="isAdmin">
  <div class="card-body" (click)="showScheduleForm()">
    <h5 class="card-title text-center" id="scheduleFormTitle"><i class="fas fa-caret-right"></i> Add a new Schedule</h5>
  </div>
  <div *ngIf="showAddScheduleForm">
    
      <form #newScheduleForm="ngForm">
        <!-- trimester type -->
        

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="year"> Year</label>
            </div>
            <select class="form-control" id="year" required
             [(ngModel)]="schedule.year" name="year">
             <option *ngFor="let i of years"
              value={{i}}>{{i}}</option>
            </select>
          </div>
        </div>
      

      
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="trimester"> Academic Term </label>
            </div>
            <select class="form-control" id="trimester"
            required
            [(ngModel)]="schedule.trimester" name="trimester"
            (change)="checkAvailability()" >
              <option value="1">Trimester 1 (Terms 3, 5, 7 and 9)</option>
              <option value="2">Trimester 2 (Terms 1, 8 and 10)</option>
              <option value="3">Trimester 3 (Terms 2, 4 and 6)</option>
            </select>
          </div>
        </div>
          
        <div class="alert alert-danger" role="alert" *ngIf="!available">
          The schedule of this year and trimester has already been created. Please check your inputs!
        </div>
          
        

        <div class="row">
          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="start"> Start date</label>
                </div>
                  <input class="form-control"
                  type="date" name="start" id="start" required 
                  [(ngModel)]="schedule.startDate">
              </div>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="end"> End date</label>
                </div>
                  <input class="form-control"
                  type="date" name="end" id="end" required 
                  [(ngModel)]="schedule.endDate">
              </div>
            </div>
          </div>
        </div>
        
        <div style="float: right;">
          <button type="submit" class="btn btn-success" 
          [disabled]="!newScheduleForm.form.valid" id="addScheduleSubmitButton"
          (click)="addSchedule()">Create schedule</button>
          <button class="btn btn-warning" id="addSchedResetButton"
          (click)="newScheduleForm.reset()">Reset</button>
        </div>
      </form>
    <!-- <p>{{newScheduleForm.value | json}} </p>
    <p>{{newScheduleForm.status | json}} </p> -->
  </div>
  </div>
