<div class="container">
  <div class="card-body">
    <h5 class="card-title text-center">Schedules</h5>
  </div>
  
  <div *ngFor="let schedule of schedules">
    <div class="card" style="margin: 0 5% 5% 5%;">
      <h5 class="card-header" > Year {{schedule.year}} Trimester {{schedule.trimester}} 
        <button (click)="deleteSchedule(schedule)" class="btn" style="float: right; margin: 0 5px;"><i class="fas fa-trash-alt"></i></button>
        <button routerLink="/schedules/details" class="btn" style="float: right;margin: 0 5px;"><i class="fas fa-edit"></i></button>
      </h5>
      <!-- <div class="card-body">
        <h6>List of courses:</h6>
        <p>{{schedule.courses}} </p>
      </div> -->
    </div>
  </div>

  <div class="container"><button class="btn btn-success" style="float: right;margin-right: 20px" (click)="showForm()">Create new Schedule</button></div><br><br>


  <div *ngIf="showAddScheduleForm">
    <div class="form-container">
      <h4>Create New Schedule</h4>
      <form #newScheduleForm="ngForm">
        
        <!-- trimester type -->
        <div class="form-group">
          <label for="trimester"> Academic Term * </label>
          <select class="form-control" id="trimester"
          required
           [(ngModel)]="schedule.trimester" name="trimester">
            <option value="1">Trimester 1 (Terms 3, 5, 7 and 9)</option>
            <option value="2">Trimester 2 (Terms 1, 8 and 10)</option>
            <option value="3">Trimester 3 (Terms 2, 4 and 6)</option>
          </select>
        </div>

        <!-- year -->
        <div class="form-group">
          <label for="year"> Year </label>
          <select class="form-control" id="year"
          required
           [(ngModel)]="schedule.year" name="year">
           <option *ngFor="let i of [2018, 2019, 2020, 2021, 2022, 2023]"
            value={{i}}>{{i}}</option>
          </select>
        </div>        

        <button type="submit" class="btn btn-success" 
        [disabled]="!newScheduleForm.form.valid" 
        (click)="onSend()">Create schedule</button>
        <button class="btn btn-warning" 
        (click)="newScheduleForm.reset()">Reset</button>
        <button class="btn btn-danger" 
        (click)="closeForm()">Cancel</button>

        
      </form>
    </div>
  </div>
</div>
