<div class="container">
  <div class="card-body">
    <h5 class="card-title text-center" id="pageTitle">Courses under this Schedule</h5>
  </div>
  <!-- display list of courses -->
  <div *ngFor="let course of courses">
    <div class="card" style="margin: 0 5% 5% 5%;">
      <div class="card-header">{{course.course_no}} - {{course.course_name}} <!-- <button routerLink="/courses/edit" class="btn" style="float: right;"><i class="fas fa-edit"></i></button> --></div>
      <div class="card-body">
        Term: {{course.term}} <br>
        Course type: {{course.core}} <br>
        Number of classes enrolled:{{course.no_classes}} <br>
        Size of each class: {{course.class_size}} <br>
        Instructors: {{course.instructors}} <br>
        Sessions: {{course.class_types}} <br>
      </div>
        
    </div>
  </div>

  <!-- form to add a new course -->
  <div class="dropdown-divider"></div>
  <div *ngIf="showCourseForm; else showFormButton">
    <app-create-course (addedCourse)="refreshCourses($event)" ></app-create-course>
    <br><br>
    <button class="btn btn-danger" style="float: right;" 
      (click)="showForm(false)">Cancel</button>  
  </div>
  <button class="btn btn-success" style="float: right;margin-right: 20px" 
    *ngIf="!showCourseForm" id="showFormButton"
    (click)="showForm(true)">
    Submit new Course
  </button>
</div>