<div class="list-group list-group-flush">
  <li class="list-group-item">
    <a id="sbAnnouncements" class="list-group-item-action" routerLink="/home"><i class="fas fa-bell"></i> Announcements</a>
  </li>

  <li class="list-group-item">
    <a id="sbViewSchedules" class="list-group-item-action" routerLink="/schedules"><i class="fas fa-pencil-alt"></i> Schedules</a>
  </li>

  <li class="list-group-item" *ngIf = "isAdmin" >
    <a id="sbViewAppeals" class="list-group-item-action" routerLink="/viewappeal"><i class="fas fa-pencil-alt"></i> Appeals </a>
  </li>

  <li class="list-group-item" *ngIf = "!isAdmin" >
    <a id="sbViewAppeals" class="list-group-item-action" routerLink="/appealstatus"><i class="fas fa-pencil-alt"></i> Make Appeal </a>
  </li>

  <li class="list-group-item" *ngIf = "isAdmin" >
    <a id="sbAddEvents" class="list-group-item-action" routerLink="/events"><i class="fas fa-pencil-alt"></i> Events </a>
  </li>

  <li class="list-group-item" *ngIf = "isAdmin" >
    <a id="sbAddUser" class="list-group-item-action" routerLink="/user"><i class="fas fa-user-plus"></i> Add New User</a>
  </li>

  <li class="list-group-item">
    <a id="sbChangePassword" class="list-group-item-action" routerLink="/password"> <i class="fas fa-cog"></i> Change Password</a>
  </li>
<!-- </mat-list> -->
</div>