<div class="container mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center" id="schedulesTitle"><i class="fas fa-caret-right"></i> Select the Schedule you want to add event to</h5>
    </div>
    <table class="table table-hover">
      <tbody *ngFor="let schedule of schedules">
        <tr style="cursor: pointer;">
          <td [routerLink]="['./',schedule.id]" 
          title="Click to add an event to this schedule"
          >Year {{schedule.year}} Trimester {{schedule.trimester}}  ({{schedule.startDate | date:'shortDate'}} to {{schedule.endDate | date:'shortDate'}})
          </td>
        </tr>
      </tbody>
    </table>
  </div>